/* Global Styles / Reset */

:root {
  --clr-primary: hsla(234, 50%, 20%, 1); /* Dark Navyish/Purple */
  --clr-lightPrimary: hsla(234, 50%, 20%, 0.4); /* Dark Navyish/Purple */
  --clr-accent: hsla(20, 77%, 68%, 1); /* Peach */
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-gray: hsla(0, 0%, 50%, 1);
  --clr-medGray: hsla(0, 0%, 50%, 0.5);
  --clr-lightGray: hsla(0, 0%, 50%, 0.2);

  --ff-primary: 'Poppins', sans-serif;
  --font-size: 1.3125rem; /* 21px equivalent */
  --font-weight: 400;

  --smlSpacer: 1em;
  --medSpacer: 2em;
  --lrgSpacer: 3em;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1.5;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4 {
  font-weight: 500;
}

h5 {
  font-weight: 400;
}

h1 {
  line-height: 1.3;
}

h2,
h3,
h4 {
  line-height: 1.2;
}

h5 {
  font-size: 0.8rem;
}

p {
  font-size: 0.9rem;
}

h1,
h2,
h4,
p,
footer li {
  margin-bottom: 0.6em;
}

h3,
h5 {
  margin-bottom: 0.8em;
}

li {
  list-style: none;
}

nav li {
  display: inline-block;
}

header,
article,
section {
  padding: 0.5rem;
}

header,
section,
footer {
  margin-bottom: var(--smlSpacer);
}

button {
  padding: 0.4rem 1rem;
  border: none;
}

/* Utility Class Styles */

.container {
  margin-inline: auto;
  width: min(85%, 55rem);
}

.flex {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.bg-accent {
  background-color: var(--clr-accent);
}

.clr-accent {
  color: var(--clr-accent);
}

.card,
.selling-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem 2rem 0 0;
}

/* Header Styles */

.tablet-navigation {
  display: none;
}

#site-logo,
.hamburger {
  height: 1.5rem;
}

.hamburger {
  margin-left: auto;
}

.navigation {
  height: 4rem;
  flex-direction: row;
  align-items: center;
}

.hero-wrapper {
  margin: 1em 0;
}

.hero-intro img,
.hero-intro p {
  display: inline-block;
}

.hero-intro p {
  text-decoration: underline;
}

.hero-intro img {
  /* Need to figure a way to center this vertically */
}

.salary-selector {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding: 0.8rem;
  text-align: center;
  margin-top: var(--smlSpacer);
}

.salary-selector select,
.salary-selector button {
  margin-bottom: 0.5rem;
}

.salary-selector select {
  background-color: var(--clr-lightGray);
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0 0.4rem 3.5rem;
  width: 100%;
}

.salary-selector button {
  border-radius: 1rem;
  background-color: var(--clr-accent);
  width: 100%;
}

/* Technology Section Styles */

.technology img {
  width: 1.2rem;
  padding: 0.3rem 0;
}

.technology #figma {
  width: 0.9rem;
}

.technology button {
  border-radius: 0.5rem;
  border: 1px solid var(--clr-medGray);
  background-color: var(--clr-white);
  margin-top: var(--smlSpacer);
  margin-bottom: var(--medSpacer);
}

.technology {
  border-bottom: 1px solid var(--clr-lightGray);
}

/* Sold Section Styles */

.sold-card-wrapper {
  margin-top: var(--smlSpacer);
}

.sold-card {
  height: 15em;
  border-radius: 2rem;
  margin: var(--smlSpacer) 0;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.sold-card h4 {
  font-size: 1.2rem;
}

.sold-image {
  height: 10.5em;
}

.card-1 {
  background-image: url(../images/home-interior-1.jpg);
}

.card-2 {
  background-image: url(../images/home-exterior.jpg);
}

.card-3 {
  background-image: url(../images/home-interior-2.jpg);
  background-position: bottom;
}

.home-info {
  flex-direction: row;
  align-items: center;
}

.home-info h4,
.home-location p {
  margin-bottom: 0;
}

.home-info,
.home-location {
  padding: 0 1em;
  height: 2em;
}

.home-info .price {
  margin-left: auto;
  color: var(--clr-accent);
}

.home-location > * {
  display: inline-block;
  vertical-align: center;
}

/* Home Selling Styles */

.colored-icon-wrapper {
  height: 2.5em;
  width: 8em;
  border-radius: 1rem;
  background-color: yellow;
  margin-right: 1em;
}

.selling-technique-info .flex {
  flex-direction: row;
}

.colored-icon-wrapper {
  align-items: center;
}

.selling-technique-asset {
  margin-top: var(--medSpacer);
}


.selling-card {
  height: 14em;
  border-radius: 2rem;
  margin: var(--smlSpacer) 0;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding: .5em;
}

.selling-card-image {
  height: 6em;
  background-image: url(../images/home-interior-1.jpg);
  border-radius: 2rem;
}

.selling-card h4 {
  font-size: 1rem;
}

.selling-card h4,
.selling-card p {
  margin: 0.5rem 0;
}

.selling-card button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.selling-card-stats {
  /* height: 2rem; */
  background-color: pink;
  display: inline-block;
}

/* Customers Styles */

.customer-wrapper img {
  height: 3rem;
}

/* Footer Styles */

.social-links {
  margin-bottom: var(--medSpacer);
}
.social-links h3 {
  margin-top: 0.8em;
}
.footer-links button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.mobile-store-links button {
  height: 3rem;
  width: 6rem;
  border-radius: 3rem;
}

.tablet-footer {
  display: none;
}

footer {
  border-bottom: 1px solid var(--clr-lightGray);
}
